*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
client/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/client/.idea/caches
/client/.idea/libraries
/client/.idea/modules.xml
/client/.idea/navEditor.xml
/client/.idea/assetWizardSettings.xml
/client/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/server/venv
/server/static
/server/templates
/server/__pychache__