<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
    <a href="/signup">注册用户</a><br>
    <a href="/login">登录用户</a><br>
    <a href="/edituser">修改用户信息</a><br>
    <a href="/getuser">查看用户信息</a><br>
    <br>
    <a href="/submitevent">添加个人事件</a><br>
    <a href="/word2event">文字转事件</a><br>
    以上是有效的，下面的还没写(或许不用写了？)<br>
    POST方法如上，使用的函数都在sql_utils中<br>
    <a href="/editevent">修改个人事件</a><br>
    <a href="/getevent">查看个人事件</a><br>
    <a href="/deleteevent">删除个人事件</a><br>
    <br>
    <a href="/creategroup">创建小组</a><br>
    <a href="/deletegroup">删除小组</a><br>
    <a href="/joingroup">加入小组</a><br>
    <a href="/quitgroup">退出小组</a><br>
    <a href="/kickgroup">踢人</a><br>
    <a href="/getgroup">查看小组信息</a><br>
    <br>
    <a href="/submitgroupevent">添加小组事件</a><br>
    <a href="/editgroupevent">修改小组事件</a><br>
    <a href="/getgroupevent">查看小组事件</a><br>
    <a href="/deletegroupevent">删除小组事件</a><br>
    <br>
    <a href="/allmyevent">我的所有个人事件</a><br>
    <a href="/allmygroupevent">我的所有小组事件</a><br>

</body>
</html>
